{%- comment -%}
  Include vars:
  section_items
{%- endcomment -%}

<!-- Nav -->
<nav id="nav">
  <ul>
    {% assign current_lang = page.lang | default: 'en' %}
    <div class="language-switcher">
      <a href="#" onclick="switchLang('en')" title="English" class="{% if current_lang == 'en' %}active{% endif %}">
        <img src="{{ site.baseurl }}/assets/images/lang/en.png" alt="English">
      </a>
      <a href="#" onclick="switchLang('de')" title="Deutsch" class="{% if current_lang == 'de' %}active{% endif %}">
        <img src="{{ site.baseurl }}/assets/images/lang/de.png" alt="Deutsch">
      </a>
    </div>

    <li><hr></li>

    {%- if include.section_items -%}
    
    {%- assign _sections = include.section_items | where_exp: "section", "section.hide != true" -%}
    {%- unless _sections == null -%}
    {%- for _sect in _sections -%}
    {%- assign _title = _sect.title | default: _sect.layout | default: 'Untitled' -%}
    {%- assign _slug = _title | slugify -%}
    {%- assign _icon = _sect.icon | default: 'fa-file' -%}
    {%- if _sect.icon-style == 'regular' -%}
    {%- assign _class = 'icon-r' -%}
    {%- elsif _sect.icon-style == 'brands' -%}
    {%- assign _class = 'icon-b' -%}
    {%- else -%}
    {%- assign _class = 'icon' -%}
    {%- endif -%}
    <li><a href="#{{ _slug }}" id="{{ _slug }}-link" class="scrolly">
      <span class="{{ _class }} {{ _icon }}">{{ _title }}</span>
    </a></li>
    {%- endfor -%}
    {%- endunless -%}
    
    {%- else -%}
    
    {%- assign lang = page.lang | default: 'en' -%}
    {%- assign collection_name = "projects_" | append: lang -%}
    {%- assign projects_collection = site[collection_name] -%}
    {%- if projects_collection and projects_collection.size > 0 -%}
    {%- assign sorted_projects = projects_collection | sort: 'order' -%}
    {%- for project in sorted_projects -%}
    {%- assign icon = project.icon | default: 'fa-folder' -%}
    {%- assign icon_style = project.icon-style | default: '' -%}
    {%- assign icon_class = 'icon' -%}
    {%- if icon_style == 'regular' -%}
    {%- assign icon_class = 'icon-r' -%}
    {%- elsif icon_style == 'brands' -%}
    {%- assign icon_class = 'icon-b' -%}
    {%- endif -%}
    <li>
      <a href="{{ project.url | relative_url }}" class="{% if page.url == project.url %}active{% endif %}">
        <span class="{{ icon_class }} {{ icon }}">{{ project.title }}</span>
      </a>
    </li>
    {%- endfor -%}
    {%- endif -%}

    {%- endif -%}

  </ul>
</nav>